.collection-list-banner{
    position: relative;
    z-index: 1;
    padding: 94px 0;
    overflow: hidden;
    margin-top: -20px;
    background-color: var(--secondary-color);
}
.collection-list-banner .collection-list-banner-img{
    width: 50%;
    height: 100%;
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
}
.collection-list-banner .collection-list-banner-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.collection-list-banner .collection-list-heading{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    width: 50%;
}
.collection-list-banner h1{
    line-height: 60px;
    color: #f1f1f1;
}
.collection-list-banner .breadcrumbs{
    padding: 0;
}
.collection-list-banner .breadcrumbs ul li:before{
    font-size: 18px;
    color: #f1f1f1;
}
.collection-list-banner .breadcrumbs ul li a,
.collection-list-banner .breadcrumbs ul li{
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    color: #f1f1f1;
}
.collection-list-banner .breadcrumbs ul li a:hover{
    opacity: 0.7;
    color: var(--primary-color);
}
/* Responsive */
@media screen and (max-width: 991px) {
    .collection-list-banner{padding: 40px 0;}
    .collection-list-banner .collection-list-heading{gap: 8px;}
    .collection-list-banner h1{ font-size: 40px; line-height: normal;}
    .collection-list-banner .breadcrumbs{padding:  0 0;}
    .collection-list-banner .breadcrumbs ul li a{font-size: 16px; line-height: 24px;}
    .collection-list-banner .breadcrumbs ul li:before{line-height: 24px;}
}
@media screen and (max-width: 767px) {
    .collection-list-banner{text-align: center; padding-bottom: 0;}
    .collection-list-banner .breadcrumbs ul{justify-content: center;}
    .collection-list-banner .collection-list-heading{ width: 100%;}
    .collection-list-banner .collection-list-banner-img{ position: static; height: 160px; width: 100%; margin-top: 40px;}
}