.pagination-wrapper {
  margin-top: 4rem;
}

@media screen and (min-width: 990px) {
  .pagination-wrapper {
    margin-top: 5rem;
  }
}

.pagination__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 0.6rem;
}

.pagination__list > li {
  flex: 1 0 4.4rem;
  max-width: 4.4rem;
}

.pagination__list > li:not(:last-child) {
  margin-right: 0.8rem;
}

.pagination__list > li.pagination-item-next:first-child{
  margin-right: 2.0rem;
}
.pagination__list > li:last-child{
  margin-left: 1.4rem;
}

.pagination__item {
  background: var(--white-color);
  border: 0.1rem solid var(--grey-color);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 4.4rem;
  width: 100%;
  padding: 0;
  text-decoration: none;
  font-size: 1.6rem;
  color: rgba(17, 17, 17, 0.6);
  border-radius: 1.0rem;
  font-weight: 400;
}

.pagination__item.pagination__item--current{
  background: var(--secondary-color);
  border-color:  var(--secondary-color);;
  color: var(--white-color);
  font-weight: 500;
  opacity: 1;
}

.pagination__item .icon-caret {
  height: 0.8rem;
}

.pagination__item--next .icon {
  margin-left: -0.2rem;
  transform: rotate(90deg);
}

.pagination__item--next:hover .icon {
  transform: rotate(90deg) scale(1.07);
}

.pagination__item--prev .icon {
  margin-right: -0.2rem;
  transform: rotate(-90deg);
}

.pagination__item--prev:hover .icon {
  transform: rotate(-90deg) scale(1.07);
}

.pagination__item-arrow:hover::after {
  display: none;
}
@media only screen and (max-width: 989px) { 
  .pagination-wrapper .pagination{display: flex; justify-content: center;}
  .pagination__list {position: relative; gap: 0.6rem; width: 100%;}
  .pagination__list > li:not(:last-child) { margin: 0; }
  .pagination__list>li.pagination-item-prev:last-child,
  .pagination__list>li.pagination-item-next:first-child{ margin: 0rem; min-width: 4.4rem;}
}
@media only screen and (max-width: 749px) {
  .pagination__list {padding: 0 4.8rem;} 
}
