.search__input.field__input {
  padding-right: 9.8rem;
}

.search__button {
  right: var(--inputs-border-width);
  top: var(--inputs-border-width);
}

.reset__button {
  right: calc(var(--inputs-border-width) + 4.4rem);
  top: var(--inputs-border-width);
}

.reset__button:not(:focus-visible)::after {
  border-right: 0.1rem solid rgba(var(--color-foreground), 0.08);
  display: block;
  height: calc(100% - 1.6rem);
  content: '';
  position: absolute;
  right: 0;
}

.reset__button:not(:focus)::after {
  border-right: 0.1rem solid rgba(var(--color-foreground), 0.08);
  display: block;
  height: calc(100% - 1.8rem);
  content: '';
  position: absolute;
  right: 0;
}

.search__button:focus-visible,
.reset__button:focus-visible {
  background-color: rgb(var(--color-background));
  z-index: 4;
}

.search__button:focus,
.reset__button:focus {
  background-color: rgb(var(--color-background));
  z-index: 4;
}

.search__button:not(:focus-visible):not(.focused),
.reset__button:not(:focus-visible):not(.focused) {
  box-shadow: inherit;
  background-color: inherit;
}

.search__button:hover .icon,
.reset__button:hover .icon {
  transform: scale(1.07);
}

.search__button .icon {
  height: 1.8rem;
  width: 1.8rem;
}

.reset__button .icon.icon-close {
  height: 1.8rem;
  width: 1.8rem;
  stroke-width: 0.1rem;
}

/* Remove extra spacing for search inputs in Safari */
input::-webkit-search-decoration {
  -webkit-appearance: none;
}

.template-search__results {
  position: relative;
}

/* Custome CSS */
.template-search{
  margin-top: -20px;
  margin-bottom: 60px;
  box-shadow: 0 10px 32px -6px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 10px 32px -6px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 10px 32px -6px rgba(0, 0, 0, 0.2);
}
.template-search.template-search--empty .template-search__header{
  width: 100%;
}
.template-search .template-search__header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 380px);
  margin: 0 0 0 auto;
  padding-bottom: 32px;
  position: relative;
  z-index: 1;
}
.template-search .template-search__header h1{
  font-size: 32px;
  line-height: 40px;
}
.template-search .facets-vertical .product-grid-container{
  padding-top: 72px;
}
.template-search .facets-vertical-sort .facets-vertical-form{
  display: none;
}
.template-search .result-text{
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
  text-align: center;
}
.template-search .template-search__header .view-link{min-width: 86px;}
/* Responsive */
@media screen and (max-width: 1200px) {
  .template-search .template-search__header{width: calc(100% - 280px);}
  .template-search .template-search__header h1{ font-size: 24px; line-height: 32px;}
  .template-search .template-search__header .view-link{font-size: 1.6rem;}
  .template-search .template-search__header .view-link:after{padding: 3px;}
}
@media screen and (max-width: 989px) {
  .template-search{padding-top: 20px !important; padding-bottom: 40px !important; margin-bottom: 40px;}
  .template-search .template-search__header{ width: 100%; margin: 0; padding-bottom: 20px;}
  .template-search .facets-vertical .product-grid-container{ padding-top: 20px; padding-left: 0;}
  .template-search .facets-vertical .facets-wrapper .facets-container{ background: var(--background-color); padding: 20px; 
  width: calc(100% + 30px); margin-left: -15px; border-radius: 0;}
}
