.section-header{
    margin-bottom: 2.0rem !important;
}
.section-header .header-wrapper{
    border-color: var(--grey-color);
}
.section-header .header{
    padding-top: 0;
    padding-bottom: 0;
}
/* header icons */
.section-header .header__icons.header-localization{
    align-items: center;
}
.section-header .header__icons .header__icon,
.section-header .header__icon--search{
    border-radius: 50%;
    transition: var(--webkit-transition-all);
}
.section-header .header__icons .header__icon,
.section-header .header__icons .header__icon .svg-wrapper,
.section-header .header__icon--search{
    width: 4.0rem;
    height: 4.0rem;
    position: relative;
}
.section-header .header__icons .header__icon .svg-wrapper,
.section-header .header__icon--search .svg-wrapper{
    width: 4rem;
    height: auto;
}
.section-header .header__icons .header__icon{
    background: var(--secondary-color);
    color: var(--white-color);
}
.section-header .header__icon--search:hover{
    background: var(--secondary-color);
    color: var(--white-color);
}
.section-header .header__icons .header__icon.header__icon--account{
    width: auto;
    height: auto;
    border-radius: 0;
    text-decoration: none;
}
.section-header .header__icons .header__icon.header__icon--account:hover{
    background: transparent;
    text-decoration: underline;
}
.section-header .header__icons .header__icon.header__icon--account account-icon{
    width: 4.0rem;
    height: 4.0rem;
    min-width: 4rem;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: var(--webkit-transition-all);
}
.section-header .header__icons .header__icon.header__icon--account:hover account-icon{
    background: var(--secondary-color);
}
.section-header .header__icons .header__icon.header__icon--account span{
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
    max-width: 64px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    margin-left: 2px;
}
.section-header .header__icons .wishlist-count,
.section-header .header__icons .cart-count-bubble{
    position: absolute;
    height: 1.4rem;
    width: 1.4rem;
    bottom: auto;
    top: 0.5rem;
    right: 0.5rem;
    left: auto;
    background: var(--white-color);
    color: var(--primary-color);
    font-size: 1.0rem;
    font-weight: 600;
    border-radius: 50%;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
}
.section-header .spa-locator {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    padding-right: 2.4rem;
    margin-right: 2.4rem;
    border-right: 2px solid var(--grey-color);
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 2.4rem;
    text-decoration: underline;
    text-underline-offset: 5px;
}
/* Navigation */
.section-header .header__inline-menu .list-menu li{
    padding: 2.8rem 2.0rem;
}
.section-header .header__inline-menu .list-menu__item{
    padding: 0;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: var(--primary-color);
    border: 0;
    position: relative;
}
.section-header .header__inline-menu .list-menu__item:hover,
.section-header .header__inline-menu .list-menu__item:hover span{
    color: var(--secondary-color);
    text-decoration: none;
    transition: var(--webkit-transition-all);
}
.section-header .header__inline-menu .list-menu__item::after{
    position: absolute;
    bottom: -100%;
    height: 0.3rem;
    width: 100%;
    background: var(--secondary-color);
    margin-bottom: -0.4rem;
    content: "";
    display: none;
}
.section-header .header__inline-menu .list-menu-item.active-menu .list-menu__item::after{
    display: block;
}
.section-header .list-menu__item .header__active-menu-item{
    text-decoration: none;
}
/* Header Search */
.section-header .header__search .search__input {
    background: var(--background-color);
    border-radius: 1.0rem;
    box-shadow: none !important;
    font-size: 1.6rem;
    color: var(--primary-color);
    font-family: var(--font-family-figtree);
    font-weight: 400;
    text-transform: capitalize;
    letter-spacing: 0;
    padding: 0.8rem 3.8rem;
    min-height: 4.0rem;
    height: 4.0rem;
    margin: 0;
}
.section-header .header__search .search__input:focus {
    border-color: var(--primary-color);
}
.section-header .header__search .field__label{
    font-family: var(--font-family-figtree);
    color: var(--primary-color);
    font-size: 1.4rem;
    left: 3.8rem;
    top: 50%;
    transform: translateY(-50%);
    letter-spacing: 0;
}
.section-header .header__search .field__input:not(:placeholder-shown) ~ .field__label,
.section-header .header__search .field__input:focus ~ .field__label{
    top: 0.1rem;
    font-size: 0.9rem;
    transform: none;
    opacity: 0.8;
}
.section-header .header__search .field:after {
    display: none;
}
.section-header .header__search .icon-search-wrapper {
    left: 1.6rem;
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
}
.section-header .header__search .icon-search-wrapper svg{
    width: 1.4rem;
    height: 1.4rem;
}
.section-header .header__search .reset__button {
    right: 0;
    height: 3.8rem;
}
.section-header .header__search .reset__button .icon.icon-close path{
    fill: var(--primary-color);
}
.section-header .header__search .reset__button:after {
    content: none;
}
/* Header search modal */
.section-header .header__search .modal-overlay{
    display: none;
}
.section-header .header__search .modal__content{
    width: 72rem;
    margin: 0 auto;
}
.section-header .header__search  .modal__content .search-modal__content{
    padding: 0;
}
.section-header .header__search .modal__close-button.link{
    height: 3.8rem;
}
/* Predictive Search */
.section-header .predictive-search{
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
    border-radius: 0.8rem;
    border: 0;
}
.section-header .predictive-search .predictive-search__result-group{
    padding: 1.6rem 2.0rem 1.0rem;
}
.section-header .predictive-search .predictive-search__heading{
    margin: 0 0 1.0rem;
    padding: 0;
    color: var(--primary-color);
    font-size: 1.4rem;
    text-transform: capitalize;
    letter-spacing: 0px;
    text-align: left;
    border: 0;
    font-family: var(--font-family-figtree);
    font-weight: 600;
}
.predictive-search .predictive-search__result-group:last-child .predictive-search__results-list{
    background: var(--background-color);
    border-radius: 0.8rem;
    padding: 0.2rem 0.8rem 0.8rem;
}
.predictive-search .predictive-search__result-group:last-child .predictive-search__item{
    background: var(--white-color);
    padding: 0.8rem;
    border-radius: 0.8rem;;
    grid-column-gap: 0.6rem;
    margin-top: 0.6rem;
}
.predictive-search .predictive-search__list-item .predictive-search__item-heading{
    font-family: var(--font-family-figtree);
    color: var(--primary-color);
    letter-spacing: 0;
}
.section-header .predictive-search .predictive-search__results-list li a{
    display: flex;
    padding: 0.6rem 0;
    text-align: left;
    text-decoration: none;
    width: 100%;
}
.section-header .predictive-search__item{
    color: var(--primary-color);
}
.iwMobLink { display: none;}
.section-header .spa-locator.spa-locator-mobile{ display: none;}

/* Responisve */
@media screen and (min-width: 1300px){
    .section-header .header__inline-menu .list-menu li{ padding: 2.8rem 1.8rem;}
}
@media screen and (min-width: 990px){
  .section-header .header{grid-template-columns: auto; column-gap: 1rem;}
  .section-header .header__inline-menu{display: flex; align-items: center; justify-content: center;}
}
@media screen and (max-width: 1200px){
    .section-header .header__heading-logo{width: 16.0rem;}
    .section-header .spa-locator{margin-right: 0;}
    .section-header .spa-locator span.locator-text{ font-size: 1.4rem;}
    .section-header .header__inline-menu .list-menu li{ padding: 2.8rem 0.9rem;}
    .section-header .header__inline-menu .list-menu__item{ font-size: 1.4rem;}
    .section-header .header__icons .header__icon.header__icon--account span{ font-size: 12px;}
}
@media screen and (max-width: 989px){
    .section-header .header{padding: 0.5rem 1.6rem 1.2rem;}
    .section-header .spa-locator .locator-text{ display: none;}
    .section-header .header__icons .header__icon, .section-header .header__icon--search{
        width: 3.0rem;
        height: 3.0rem;
    }
    .section-header .header__icons .wishlist-count, .section-header .header__icons .cart-count-bubble{
        top: .1rem; right: .1rem;
    }
    .section-header .header__search.mobile-search{ display: grid;  grid-column: 1 / -1; grid-row: 2; width: 100%; margin-top: 1.25rem;}
    .section-header .header__search .search__input { border-radius: 0.8rem; font-size: 1.4rem; min-height: 3.8rem;  height: 3.8rem;} 
}
@media screen and (max-width: 750px){
    /* Search */
    .section-header .predictive-search{ border-radius: 0;}
    .predictive-search__results-groups-wrapper .predictive-search__result-group:first-child{
        border-bottom: 1px solid #DDDDDD;
        padding-bottom: 1.0rem;
    }
    .predictive-search__results-groups-wrapper .predictive-search__result-group:last-child{
        padding-top: 0;
    }
    .section-header .header__icons .header__icon.header__icon--account span.customer-name{
        display: none;
    }
    .header__icons--localization .iwishPage{ display: flex;}
    .section-header .spa-locator{display: none; border-right: 0; padding-right: 0;}
    .section-header .spa-locator.spa-locator-mobile{display: flex;background-color: var(--secondary-color);border-radius: 50%;}
    .iwMobLink{ display: block;}
}