/* Megamenu */
/* Body Style */
.menu-main {
    overflow: hidden;
    position: relative;
    scrollbar-width: none;
}
.menu-main:before {
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    content: "";
    position: absolute;
}
.section-header .list-menu .nav-menu-dropdown {
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    display:  none;
    max-height: calc(100vh - 150px);
    z-index: 5;
    padding: 0;
    overflow-y: auto;
    max-width: 1460px;
}
.section-header .nav-menu-dropdown .menu-dropdown-content{
    background: var( --grey-color);
    padding: 32px;
    border-radius: 0px 0px 8px 8px;
    width: 100%;
}
.section-header .menu-dropdown-content .main-menu-block {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    align-items: flex-start;
    gap: 60px;
}
/* Common Ul li CSS */
.section-header .menu-dropdown-content ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
    overflow-y: auto;
}
.section-header .menu-dropdown-content ul li{
    gap: 14px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}
.section-header .menu-dropdown-content ul li a{
    color: var(--primary-color);
    text-transform: capitalize;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    width: 100%;
    display: flex;
    align-items: center;
}
.section-header .menu-dropdown-content ul li a:hover{
    color: #EA6024
}
.section-header .header__inline-menu .list-menu .menu-dropdown-content li{
    padding: 0;
}
/* First Level Menu */
.section-header .menu-dropdown-content ul.first-level-menu{
    background: var(--white-color);
    padding: 32px;
    border-radius: 10px;
    gap: 28px;
    width: 18.5%;
    display: none;
}
.section-header .menu-dropdown-content ul.first-level-menu li a{
    text-transform: uppercase;
    font-size: 16px;
    line-height: 24px;
    justify-content: space-between;
    padding-right: 20px;
}
/* First Level Menu Arrow */
.section-header .menu-dropdown-content ul.first-level-menu li{
    position: relative;
}
.section-header .menu-dropdown-content ul.first-level-menu li::after{
    background: url(icon-arrow.svg) no-repeat center;
    background-size: 15px;
    width: 16px;
    height: 16px;
    content: "";
    opacity: 0;
    transform: translateX(-2px);
    -webkit-transform: translateX(-2px);
    transition: var(--webkit-transition-all);
    margin-left: 10px;
    position: absolute;
    right: 0;
}
.section-header .menu-dropdown-content ul.first-level-menu li.active-item::after{
    opacity: 1;
    transform: translateX(0);
}
/* second-level-menu */
.section-header .menu-dropdown-content .second-level-menu{
    display: none;
    flex-wrap: wrap;
    width: calc(81.5% - 60px);
}
.section-header .menu-dropdown-content .second-level-main{
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    align-content: flex-start;
    align-items: flex-start;
    width: 100%
}
.section-header .second-level-menu .second-level-menu-link{
    width: 21.5%;
    display: flex;
    flex-wrap: wrap;
}
.section-header .menu-dropdown-content .second-level-menu-link h3,
.section-header .menu-dropdown-content .second-level-menu-link .h3{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    font-family: var(--font-family-figtree);
    padding: 12px 0;
    text-transform: capitalize;
    border-bottom: 1px solid rgba(36, 36, 41, 0.2);
    width: 100%;
}
.section-header .menu-dropdown-content .second-level-menu ul{
    row-gap: 20px;
    padding: 20px 0;
}
.section-header .menu-dropdown-content .second-level-menu ul li{
    align-items: center;
    width: 100%;
}
.section-header .menu-dropdown-content .second-level-menu ul li a{
    gap: 14px;
}
.section-header .menu-dropdown-content .second-level-menu ul li span.link-text{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
/* second-level-menu with color */
.section-header .second-level-menu .menu-with-color ul{
    column-gap: 20px;
    row-gap: 14px;
}
.section-header .second-level-menu .menu-with-color ul li{
    width: calc(50% - 10px);
}
.section-header .second-level-menu .menu-with-color ul li .link-color-bg{
    width: 20px;
    height: 20px;
    min-width: 20px;
    border-radius: 50%;
    display: flex;
}
/* second-level-menu with Product */
.section-header .second-level-menu .menu-with-product .second-level-menu-link ul li a{
    position: relative;
    padding-right:20px;
}
.section-header .second-level-menu .menu-with-product .second-level-menu-link ul li:after{
    margin-left: auto;
    border: solid var(--primary-color);
    border-width: 0 1.5px 1.5px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    content: "";
    transition: var(--webkit-transition-all);
    opacity: 0;
    position: absolute;
    right: 2px;
}
/* third-level-menu with Product */
.section-header .second-level-menu ul.third-level-sub-menu{
    gap: 10px;
    padding: 0;
    display: none;
}
.section-header .second-level-menu ul.third-level-sub-menu li a{
    background: var(--white-color);
    border-radius: 10px;
    padding: 10px 14px;
    gap: 14px;
}
.section-header .second-level-menu li a .menu-link-img{
    width: 64px;
    height: 64px;
    min-width: 64px;
    display: flex;
}
.section-header .second-level-menu a .menu-link-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
/* second-level-menu with Collection */
.section-header .second-level-menu .menu-with-collection ul li a{
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    gap: 10px;
}
.section-header .second-level-menu .menu-with-collection ul li .menu-link-img{
    width: 50px;
    height: 50px;
    min-width: 50px;
}
.section-header .second-level-menu .menu-with-collection ul li .menu-link-img img{
    object-fit: cover;
    border-radius: 50%;
}
/* Menu Image */
.section-header .menu-dropdown-content .second-level-middle {
    display: flex;
    width: calc(35% - 60px);
}
.section-header .menu-dropdown-content .second-level-middle.third-level-desktop-menu{
    display: none;
}
.section-header .menu-dropdown-content .nav-img{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.section-header .menu-dropdown-content .nav-img img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}
/* Menu Card */
.section-header .menu-dropdown-content .nav-menu-card{
    width: calc(43.5% - 60px);
    display: flex;
    flex-wrap: wrap;
    min-height: 316px;
}
.section-header .menu-dropdown-content .nav-menu-card .nav-card{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding: 48px 20px;
    border-radius: 10px;
    overflow: hidden;
    z-index: 1;
}
.section-header .menu-dropdown-content .nav-menu-card .nav-card::after{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    content: "";
    z-index: -1;
}
.section-header .menu-dropdown-content .nav-menu-card .nav-card .nav-card-img{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}
.section-header .menu-dropdown-content .nav-menu-card .nav-card .nav-card-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.section-header .menu-dropdown-content .nav-menu-card .nav-card span{
    color: var(--white-color);
    text-transform: capitalize;
    font-weight: 400;
    line-height: 24px;
}
.section-header .menu-dropdown-content .nav-menu-card .nav-card h3, .section-header .menu-dropdown-content .nav-menu-card .nav-card .h3{
    font-size: 40px;
    line-height: 48px;
    font-weight: 700;
    color: var(--white-color);
    margin-top: 8px;
    width: 100%;
} 
.section-header .menu-dropdown-content .nav-menu-card .nav-card .primary-btn{
    margin-top: 32px;
}
.section-header .menu-dropdown-content ul.first-level-menu.first-level-mobile{
    display: flex;
}
/* Mobile Arrow & Title */
.section-header .menu-dropdown-content .mobile-back-btn{
    display: flex;
    align-items: center;
    gap: 8px;
    width: calc(100% + 40px);
    margin-left: -20px;
    padding: 2.0rem;
    border-bottom: 0.1rem solid var(--grey-color);
    color: #242429CC;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.section-header .menu-dropdown-content .mobile-back-btn .svg-wrapper{
    width: 1.8rem;
    height: 1.8rem;
    transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
}
.section-header .menu-dropdown-content .mobile-menu-title{
    background: var(--background-color);
    text-transform: uppercase;
    padding: 2.0rem;
    display: flex;
    align-items: center;
    font-weight: 500;
    border-radius: 1.0rem;
    width: 100%;
    line-height: normal;
    position: relative;
}
.section-header .menu-dropdown-content .mobile-menu-title::after{
    margin-left: auto;
    border: solid #242429CC;
    border-width: 0 .15rem .15rem 0;
    display: inline-block;
    padding: .35rem;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    content: "";
    position: absolute;
    right: 2.0rem;
    margin-top: 0.5rem;
}
/* Only SubMenu */
.section-header .list-menu .sub-menu.sub-dropdown{
    list-style: none;
    position: absolute;
    top: 100%;
    width: 280px;
    background: var(--white-color);
    display: none;
    z-index: 5;
    padding: 16px 24px;
    border-radius: 0 0 10px 10px;
    margin-left: -30px;
}
.section-header .list-menu .sub-menu.sub-dropdown li{
    padding: 8px 0;
}
.section-header .list-menu .sub-menu.sub-dropdown li a{ 
    font-size: 15px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--primary-color);
}
.section-header .list-menu .sub-menu.sub-dropdown li a:hover{
    color: var(--secondary-color);
}
/* Responsive */
@media screen and (min-width:990px) {
    .section-header .list-menu-item.active-menu .nav-menu-dropdown {display: block;}
    .section-header .menu-dropdown-content ul.first-level-menu.first-level-desktop{ display: flex;}
    .section-header .menu-dropdown-content ul.first-level-menu.first-level-mobile{ display: none;}
    /* Mobile Back Arrow */
    .section-header .menu-dropdown-content .mobile-back-btn { display: none;}
    .section-header .menu-dropdown-content .mobile-menu-title{ display: none;}
    .section-header .menu-dropdown-content ul.third-level-mobile-menu{ display: none !important;}
    .section-header .second-level-menu .menu-with-product .second-level-menu-link ul li.active-subitem a{
        border-bottom: 1px solid var(--primary-color);
        padding-bottom: 8px;
    }
    .section-header .second-level-menu .menu-with-product .second-level-menu-link ul li{ position: relative;}
    .section-header .second-level-menu .menu-with-product .second-level-menu-link ul li.active-subitem::after{ opacity: 1;}
    .section-header .menu-dropdown-content .second-level-middle.third-level-desktop-menu{
        display: flex;
    }
    .section-header .second-level-menu .second-level-menu-link .third-level-mobile-menu{ display: none;}
    .section-header .second-level-menu ul.third-level-sub-menu.active-submenu{ display: flex;}
    .section-header .menu-dropdown-content .second-level-middle{ align-items: flex-start;}
    .section-header .menu-dropdown-content .second-level-middle,
    .section-header .menu-dropdown-content .nav-img{height: 100%;}
    .section-header .menu-dropdown-content .second-level-menu.active{ display: flex;}
    .section-header .list-menu .list-menu-item.active-menu .sub-menu.sub-dropdown{display: block;}
}
@media screen and (max-width:1200px) {
    .section-header .list-menu-item .nav-menu-dropdown .page-width{ padding: 0;}
    .section-header .menu-dropdown-content .main-menu-block{ gap: 20px;}
    .section-header .menu-dropdown-content ul.first-level-menu{gap: 16px; padding: 16px;}
    .section-header .menu-dropdown-content ul.first-level-menu li a{ font-size: 14px; line-height: normal;}
    .section-header .menu-dropdown-content .second-level-menu{width: calc(81.5% - 20px);}
    .section-header .menu-dropdown-content .second-level-main{gap: 20px;}
    .section-header .second-level-menu .second-level-menu-link{ width: 25%;}
    .section-header .menu-dropdown-content .second-level-middle{width: calc(35% - 20px); }
    .section-header .second-level-menu .menu-with-collection ul li a{ font-size: 14px;}
    .section-header .menu-dropdown-content .nav-menu-card{width: calc(40% - 20px);}
    .section-header .menu-dropdown-content .nav-menu-card .nav-card {padding: 40px 20px;}
    .section-header .menu-dropdown-content .nav-menu-card .nav-card h3, .section-header .menu-dropdown-content .nav-menu-card .nav-card .h3{ font-size: 34px; line-height: 40px; margin-top: 6px;}
}
@media screen and (max-width:989px) {
    .menu-main:before { display: none;}
    .section-header .list-menu .nav-menu-dropdown{position: static; height: auto; display: none;}
    .section-header .list-menu .nav-menu-dropdown.active-mobile-submenu{display: block;}
    .section-header .nav-menu-dropdown .menu-dropdown-content{ background: transparent; padding: 10px 0 0;}
    /* Second Level Menu */
    .section-header .menu-dropdown-content .main-menu-block{ position: fixed; left: 0; top: 0; background: var(--white-color);
    padding: 20px;max-height: 100%; overflow: hidden; overflow-y: auto; display: none;}
    .section-header .menu-dropdown-content .main-menu-block.active-main-menu{display: block;}
    .section-header .menu-dropdown-content ul.first-level-menu,
    .section-header .menu-dropdown-content .second-level-menu,
    .section-header .second-level-menu .second-level-menu-link,
    .section-header .menu-dropdown-content .second-level-middle,
    .section-header .menu-dropdown-content .nav-menu-card{ width: 100%; min-height: auto;}
    .section-header .menu-dropdown-content .second-level-main{gap: 4px; margin-top: 4px;}
    .section-header .menu-dropdown-content ul li{padding: 0; border: 0; position: relative;}
    .section-header .menu-dropdown-content ul li a{ line-height: normal;}
    .section-header .menu-dropdown-content .second-level-menu-link h3,
    .section-header .menu-dropdown-content .second-level-menu-link .h3{ display: none;}
    .section-header .menu-dropdown-content .second-level-menu ul{background: var(--background-color);padding: 20px;
    border-radius:10px;}
    .section-header .menu-dropdown-content ul.first-level-menu li a{ width: auto;}
    .section-header .menu-dropdown-content ul.first-level-menu li.active-dropdown:after{ opacity: 1;}
    /* Menu With Color */
    .section-header .second-level-menu .menu-with-color ul{ row-gap: 18px;}
    .section-header .second-level-menu .menu-with-color ul li .link-color-bg{width: 16px; height: 16px; min-width: 16px;}
    /* Menu With Product */
    .section-header .second-level-menu .menu-with-product ul li{ padding: 0 0 20px; border-bottom: 1px solid var(--grey-color)}
    .section-header .second-level-menu .menu-with-product .second-level-menu-link ul li a{ padding-right: 0;}
    .section-header .second-level-menu .menu-with-product ul li:last-child{padding: 0; border: 0;}
    .section-header .second-level-menu .second-level-menu-link > ul.sub-menu > li.active-sub-dropdown > a{ width: auto;}
    .section-header .second-level-menu .second-level-menu-link > ul.sub-menu > li:after{  top: 6px;transform: rotate(45deg);
    -webkit-transform: rotate(45deg);}
    .section-header .second-level-menu .second-level-menu-link > ul.sub-menu > li.active-sub-dropdown:after{ opacity: 1;}
    .section-header .second-level-menu .second-level-menu-link > ul.sub-menu > li.show-dropdown:after{  top: 6px;
        transform: rotate(225deg); -webkit-transform: rotate(225deg);}
    /* Third Level Menu */
    .section-header .second-level-menu ul.third-level-sub-menu.active-mobile-sub-menu{ display: block;}
    .section-header .second-level-menu ul.third-level-sub-menu{ padding: 0; gap: 0.4rem;}
    .section-header .second-level-menu ul.third-level-sub-menu li{ padding: 0; border: 0;}
    .section-header .second-level-menu ul.third-level-sub-menu li:last-child{ padding: 0;}
    .section-header .second-level-menu ul.third-level-sub-menu li a{ padding: 1.0rem 0; background: transparent; border-radius: 0;}
    .section-header .second-level-menu ul.third-level-sub-menu li a::after{display: none;}
    .section-header .second-level-menu li a .menu-link-img,
    .section-header .second-level-menu .menu-with-collection ul li .menu-link-img{ width: 40px; height: 40px; min-width: 40px;}
    /* Menu With Collection */
    .section-header .second-level-menu .menu-with-collection ul{row-gap: 1.6rem;}
    .section-header .second-level-menu .menu-with-collection ul li .menu-collection-img{ width: 4.0rem; height: 4.0rem;}
    .section-header .second-level-menu .menu-with-collection ul li a{font-size: 1.5rem; font-weight: 500;}
    .section-header .menu-dropdown-content .nav-img img{height: 220px;}
    /* Nav Card */
    .section-header .menu-dropdown-content .nav-menu-card .nav-card span{ font-size: 18px; line-height: normal; flex-direction: column;}
    .section-header .menu-dropdown-content .nav-menu-card .nav-card .primary-btn{margin-top: 2.8rem; padding: 1.6rem 3.2rem;}
    .section-header .menu-dropdown-content .second-level-menu.active-main-dropdown{ display: flex;}
    /* Sub Dropdown */
    .section-header .list-menu .list-menu-item.active-list .sub-menu.sub-dropdown{display: block;}
    .section-header .list-menu .sub-menu.sub-dropdown{ position: static; width: 100%; margin-top: 10px; padding: 8px 16px;
    margin-left: 0; border-radius: 10px;}
    .section-header .list-menu .sub-menu.sub-dropdown li{padding: 8px 0; border: 0;}
    .section-header .list-menu .sub-menu.sub-dropdown li a{ font-size: 14px; line-height: normal; font-weight: 400;}
}