.section-new-arrival{
    padding: 8.0 0 8.0rem;
}
.section-new-arrival .new-arrival-heading{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1.6rem;
    align-items: center;
    margin-bottom: 3.2rem;
}
.section-new-arrival ul.new-arrival-filter{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    gap: 1.6rem;
}
.section-new-arrival ul.new-arrival-filter li{
    display: flex;
}
.section-new-arrival ul.new-arrival-filter li a{
    border: 0.1rem solid var(--grey-color);
    text-transform: capitalize;
    line-height: 2.2rem;
    padding: 1.4rem 3.0rem;
    border-radius: 3.0rem;
    white-space:nowrap ;
}
.section-new-arrival ul.new-arrival-filter li a:hover,
.section-new-arrival ul.new-arrival-filter li a.active{
    background: var(--secondary-color);
    color: var(--white-color);
}
/* Collection */
.section-new-arrival .new-arrival-collection{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.section-new-arrival .new-arrival-collection ul{
    display: flex;
    flex-wrap: wrap;
    gap: 2.0rem;
    width: 100%;
}
.section-new-arrival .new-arrival-collection ul li{
    display: flex;
    width: calc(25% - 1.6rem);
    flex: 0 0 calc(25% - 1.6rem);
}
.section-new-arrival .view-all-btn{
    display: flex;
    justify-content: center;
    margin-top: 3.2rem;
    width: 100%;
}
.section-new-arrival .view-all-btn .primary-btn{
    border: 1px solid #DDDDDD;
    padding: 1.6rem 5.0rem;
}
/* Responsive */
@media screen and (max-width: 1200px) {
    .section-new-arrival ul.new-arrival-filter{gap: 1.0rem;}
    .section-new-arrival ul.new-arrival-filter li a{padding: 1.2rem 2.3rem;}
}
@media screen and (max-width: 991px) {
    .section-new-arrival{border-bottom: 0.1rem solid var(--grey-color); padding: 0 0 4.0rem;}
    .section-new-arrival .new-arrival-heading{flex-wrap: wrap; margin-bottom: 2.8rem; justify-content: center;}
    .section-new-arrival ul.new-arrival-filter{ width: 100%;justify-content: space-evenly;overflow-x: auto; padding-bottom: 10px;}
    .section-new-arrival ul.new-arrival-filter li a{ font-size: 1.4rem; line-height: 2.0rem;}
    .section-new-arrival .new-arrival-collection ul{gap: 1.0rem;}
    .section-new-arrival .new-arrival-collection ul li{flex: 0 0 calc(33.33% - 0.7rem); width: calc(33.33% - 0.7rem);}
    .section-new-arrival .view-all-btn{ margin-top: 2.8rem;}
    .section-new-arrival .view-all-btn .primary-btn{padding: 1.5rem 5rem; width: 100%;}
}
@media screen and (max-width:767px) {
    .section-new-arrival{ padding: 4.0rem 0 4.0rem 0; }
    .section-new-arrival .new-arrival-collection ul li{flex: 0 0 calc(50% - 0.5rem); width: calc(50% - 0.5rem);}
}
